@import "tailwindcss";

@theme {
  --color-whatsapp-primary: #25d366;
  --color-whatsapp-dark: #075E54;
  --color-whatsapp-light: #DCF8C6;
  --color-whatsapp-background: #fcf5eb;

  --color-private-background: #262524;
  --color-private-primary: #202c33;
  --color-private-primary-transparent: #ffffff4d;
  --color-private-primaryHover: #2a3942;
  --color-private-secondary: #111b21;

  --color-icons-iconsPrimary: #00a884;
  --color-icons-iconSecondary: #53bdeb;
  --color-icons-muted: #aebac1;
  --color-icons-background: #aebac1;
}


.chat-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('./assets/bg.png');
  opacity: 0.3;
  z-index: 0;
}
.chat-bg {
  position: relative;
  z-index: 1;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 4px;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aebac1;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8696a0;
}


.slide-in-right {
  transform: translateX(100%);
  animation: slideRight 0.5s forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slideLeft 0.5s forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}